@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Fresca', sans-serif;
    background-color: rgb(74, 87, 99);
}

.card {
    transform:scale(1.5);
    position: relative;
    min-width: 220px;
    height: 320px;
    background-image: linear-gradient(#fff95b 30%,#ff930f);
    box-shadow: 1px 1px 3px 0.5px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

.card:hover {
    transition: 0.5s ease;
    transform: translateY(-15px);
}

img {
    box-shadow: 1px 1px 3px 0.5px;
    position: relative;
    top: 20px;
    border-radius: 50%;
    margin-bottom: 40px;
}

p {
    margin-top: 30px;
    color: black;
    text-align: justify;
    padding:5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    max-width: 190px;
    overflow: hidden;
    box-shadow: 1px 1px 3px 0.5px;
    border-radius: 10px;
}

h5 {
    position: absolute;
    top:130px;
    left: 10px;
    font-size: 21px;
    padding: 1px 8px;
    background-image: linear-gradient(#ebf4f5,#b5c6e0);
    border-radius: 5px;
    box-shadow: 1px 1px 3px 0.5px;
}

span {
    background: linear-gradient( #d3989b,#bc1b68);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

h6 {
    padding: 2px 8px;
    background-image: linear-gradient(#ebf4f5,#b5c6e0);
    border-radius: 5px;
    width: max-content;
    position: absolute;
    font-size: 16px;
    color: crimson;
    top:130px;
    left:120px;
    box-shadow: 1px 1px 3px 0.5px rgba(0,0,0,1);
}
